
/*--------------- FONT-FACE ---------------*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300);

/*--------------- BASIC HTML STYLES ---------------*/

html {
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

body {
    margin: 0px !important
}

body.inner header,body.canvas header {
    min-height: 60px;
}

header #top.transparent {
    background-color: transparent
}

header #top.noise {
    background-image: url('../images/menu_noise.png')
}

header #top.roadx {
    -moz-border-radius: 0px;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-transition: background-color 0.8s ease-in-out;
    -ms-transition: background-color 0.8s ease-in-out;
    -o-transition: background-color 0.8s ease-in-out;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 0.8s ease-in-out;
    border-radius: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    min-height: 40px;
    position: fixed;
    transition: background-color 0.8s ease-in-out;
    width: 100%;
    z-index: 12;
}

header #top {
    height: 60px
}

/* ===[ Logo ]=== */

header #top.roadx #logo a {
    margin-top: 17px;
}

header #top.roadx .row {
    left: 50%;
    margin-left: -480px;
    position: relative;
    width: 960px;
}

/* ===[ End Of Logo ]=== */

/* ===[ Begin Top Menu ]=== */

header #top.roadx nav {
    margin-top: 7px;
    min-height: 40px;
}

header #top.roadx nav ul {
    min-height: 40px !important;
    padding-top: 5px;
}

header #top.roadx nav > ul > li > a {
    text-shadow: none
}

header #top.roadx nav > ul > li > a:active, header #top.roadx nav > ul > li > a.current {
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

header #top.roadx nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

header a.mobile, #mobile_menu {
    display: none
}

header #top {
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    min-height: 60px;
    position: relative;
    width: 960px;
    z-index: 1;
}

header #top #logo {
    margin-left: 0px;
    width: 260px;
}

header #top #logo a {
    display: block;
    margin-left: 10px;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
    zoom: 1;
	text-decoration:none !important;
	font-size:35px;
	margin-top:17px;
	color:#FFF;
	font-family:Source Sans Pro;
	font-weight:normal;	
}

header #top nav {
    margin-left: 20px;
    margin-top: 7px;
    min-height: 40px;
    width: 680px;
}

header #top nav > ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    float: right;
    margin: 0px;
    margin-right: 12px;
    min-height: 60px;
    padding-top: 13px;
}

header #top nav > ul > li {
    float: left;
    list-style: none;
    margin-right: 5px;
}

header #top nav > ul > li:last-child {
    margin-right: 0px
}

header #top nav > ul > li > a {
    -moz-border-radius: 6px;
    -moz-transition: 200ms linear background-color;
    -webkit-border-radius: 6px;
    -webkit-transition: 200ms linear background-color;
    border-radius: 6px;
    color: #FFF;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 1px rgba(0,0,0,0.2);
    transition: 200ms linear background-color;
}

header #top nav > ul > li > a:active, header #top nav > ul > li > a.current {
    -moz-transition: 200ms linear background-color;
    -webkit-transition: 200ms linear background-color;
    text-shadow: none;
    transition: 200ms linear background-color;
}

header #top nav > ul > li > a:hover {
    -moz-box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    -moz-transition: 200ms linear background-color;
    -webkit-box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: 200ms linear background-color;
    background-color: #FFF;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: 200ms linear background-color;
}

/* ===[ End Of Top Menu ]=== */
/*--------------- HEADER ZONE ---------------*/

header { 
	background-color: #48586F;
}

header #top {
	background-color: #48586F;
}

header #top.road { 
	background-color: rgba(72, 88, 111, 1);
	-pie-background: rgba(72, 88, 111, 1);
}

header #top nav > ul > li > a:active, header #top nav > ul > li > a.current { 
	background-color: #FFF;
	-pie-background: #FFF;
}

header #top.road nav > ul > li > a:active, header #top.road nav > ul > li > a.current {
	color: #48586F;
}

header #top nav > ul > li > a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	-pie-background: rgba(255, 255, 255, 0.8);
	color: #48586F;
}

header #top.road nav > ul > li > a:hover {
	color: #48586F;
}
/* --------------- SECTION ZONE --------------- */

section {
    z-index: 2;
}

li.dropdown:hover ul{ display:block;}
.dropdown-menu{ margin-top:0 !important;}
.dropdown-menu li > span{  cursor:default;}
.dropdown-menu li > span,
.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus,
.dropdown-menu li > span:hover,
.dropdown-menu li > span:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #48586F !important;
  background-image: -moz-linear-gradient(top, #48586F, #48586F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48586F), to(#48586F));
  background-image: -webkit-linear-gradient(top, #48586F, #48586F);
  background-image: -o-linear-gradient(top, #48586F, #48586F);
  background-image: linear-gradient(to bottom, #48586F, #48586F);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff48586F', endColorstr='#ff48586F', GradientType=0);
}
.caret {
  border-top: 4px solid #D62E2E;
}